.button {
    background-color: #292F2F; 
    color: #FFD859; 
    border: 2px solid #FFD859;
    border-radius: 20%;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  display: flex;
  }
.text-with-fafa{
  padding-right: 10px;
}

  .button:hover {
    background-color: #FFD859;
    color: #292F2F;
  }

  button:disabled{
    color: grey!important;
  }
.reverse{
  color: #292F2F;
  background-color: #FFD859;
}

.small{
  font-size: small!important;
}
  .detaleButton{
    background-color: #292F2F;
    color: #FFD859;
    border-radius: 20px;
    border: 2px solid #FFD859;
    font-size: large;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 6px 6px 5px 6px;
    height: fit-content;
    margin-top: auto;

    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    
  }

  .detaleButton:disabled {
    color: grey;
    border:solid 2px grey;
    background-color: #292F2F;
  }

  .detaleButton:disabled:hover {
    color: gray;
    border:solid 2px gray;
    background-color: #292F2F;
  }


  .detaleButton:hover {
    background-color: #FFD859;
    color: #292F2F;
  }

  .stats-button-element{
    width: 40%; 
    display: flex;
    justify-content: space-between;
  }

  .detailsTypeButton{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    width: 200px;
    display: block;
    color: white;
    background-color: rgb(77, 87, 87);
    border: none;
    border-radius: 15%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-right: 20px; 
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .detailsTypeButton:disabled{
    display: block;
    color: grey;
    background-color: rgb(77, 87, 87);
    border: none!important;
    border-radius: 15%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-right: 20px!important; 
    margin-top: 1px!important;
    margin-bottom: 1px!important;
  }

  .detailsTypeButton:hover{
    color: #FFD859;
    background-color: rgb(77, 87, 87);
    border: 1px solid #FFD859;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 19px; 

  }
  .detailsTypeButton:focus{
    color: #FFD859;
    background-color: rgb(77, 87, 87);
    border: 1px solid #FFD859;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 19px; 
  }



  .menubutton{
    background-color: #FFD859;
    color: #292F2F;
    border: 4px solid #FFD859;
    font-size: large;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-right: 5%;;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    max-height: 70px;
    max-width: 100px;
  }

  .menubutton:hover {
    background-color: #292F2F; 
    color: #FFD859; 
  }

  .filter-button{
    display: flex;
    justify-content: center;
    margin-top: 2%;
  }

  .flex-center-element{
    display: flex;
    justify-content: center;
  }

  .green-button{
    color: greenyellow;
    border: greenyellow;
    background-color: #292F2F; ;
    border-radius: 25%;
    border: 2px solid greenyellow;
    text-decoration: none;
    font-size: large;
    text-decoration: bold;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 5%;
    padding: 2%;
  }

  .green-button:hover{
    background-color: greenyellow;
    color: #292F2F; 
    text-decoration: bold;
  }
  .red-button{
    color: tomato;
    border: tomato;
    background-color:#292F2F;
    border-radius: 20%;
    border: 2px solid tomato;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 5%;
  }

  .red-button:hover{
    background-color: tomato;
    color: #292F2F; 
  }
