.button {
    background-color: #292F2F; 
    color: #FFD859; 
    border: 2px solid #FFD859;
    border-radius: 25%;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #FFD859;
    color: #292F2F;
  }