.container-stats{
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
    width: auto;
}
.fake-element{
    width: 100px;
    display: block;
}
.column{
    display: block;
    width: 48%;
    min-width: min-content;
}

.column-1{
    display: block;
    width: 30%;
    margin-left: 8%;
    margin-right: 8%;
    min-width: max-content;
    margin-bottom: 5%;
}

.column-s{
    display: flex;
    width: 50%;
    min-width: min-content;
}

.block-stats-element{
    display: block;
    max-width: 100%;
    min-width: fit-content;
    margin: auto;
    padding-left: 10%;
    max-height: 50%;
}


.list-decoration{
    display: block;
    min-width: max-content;
}

.skill{
    border-left: solid 2px #FFD859!important;
    width: 50%;
    display: flex;
    padding-left: 5%;
    min-width: max-content;
    margin-right: 20%;
}

.skill-name{
    display: block;
    width: max-content;

}

.skill-lvl{
    display: block;
}