

.filter-menu{
display: block;
}
.filter{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;

    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.ziemniak{
    display: block;
    backface-visibility: hidden;
    margin: 10px;
}