

.filter-menu{
display: block;
flex-direction: column;
justify-content: center;
max-width: 90%;

}
.filter{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: left;
}

.item-div{
    display: inline-block;
    backface-visibility: hidden;
    margin-left: 10px !important;
    padding: auto !important;

}
