
.globalStyles{
    color: white;
    font-size: medium;
    text-align: right;

}


body{
    background-color: #292F2F;
}

.MuiInputBase-multiline{
padding: 0px;
margin: 0px;
}

.pageWithContext{
    background-color: #292F2F!important;
    color: white;
    font-size: medium;
    text-align: left;
    padding: 5%;
    padding-top: 5%;

}

.MuiFormControl-fullWidth {
    width: 100%;
    min-width: 150px!important;
}
.plainPage{
    background-color: #292F2F!important;
    color: white;
    font-size: medium;
    text-align: left;
    padding: 5%;
    padding-top: 5%;
    position: fixed;
    overflow: auto;
    min-height: 100%;
    min-width: 100%;
    padding: 5%;
    padding-top: 5%;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    background-color: #292F2F;
    color: white;

}

.Mui-disabled{
    border-bottom: solid grey;
    /* color: grey!important; */
}
.Mui-disabled .MuiSvgIcon-root{
    color: grey!important;
  }


.MuiFormControl-root.Mui-disabled{
    border-bottom: none!important
}

.MuiFormLabel-root.Mui-disabled{
    color: grey!important;
    border-bottom: none!important;
}

.flex-div{
/* TODO kasia - maksymalna szerokość nie w px */
    max-width: 100%;
    display: flex;
}

.filter-menu .flex-div{
    min-width: 300px!important;
    width: min-content!important;
}

.flex-element{
    display: flex;
    justify-content: flex-end;
}

.block-element{
    text-align: center;
    align-items: center;
    width: -webkit-fill-available;
    width: -moz-available;
}

.space-between-component{
    justify-content: space-between;
}
.center-content{
    margin: auto!important;
    align-items: center;
    text-align: center;
}

.flex-component{
    display: flex;
    margin-bottom: 2%;
    width: 90%;
    padding-bottom: 1%;
    border-bottom: solid 1px white;
    margin: auto;
}


.yellow-color{
    display: block;
    padding-left: auto;
    color: #FFD859;
}

.sub-title{
    display: block;
    font-size: large;
    margin-top: 4%;
    margin-bottom: 2%;
}

.wrap-element{
    display: inline-block;
    flex-wrap: wrap;
    width: 80%;
}

.stats-name{
    display: block;
    width: max-content;
    min-width: 160px;
    margin-right: 10px;
}


.standard-component{
    display: block;
    max-height: 100%;
    max-width: 100%;
}

.positive-message{
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
    /* border: solid 1px white; */
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
    font-size: medium;

}
.code-message{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
    font-size: medium;
    padding: 3%;
    margin-right:20px;
}


.error-message{
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    /* border: solid 1px white; */
    background-color: rgba(203, 44, 44, 0.6);
    border-radius: 20px;
    opacity: 0.9;
    color: white;
    text-align: center;
    font-size: large;

}

a{
color: #FFD859!important;
}


.CoolTooltip button.MuiButtonBase-root.MuiIconButton-root {
    padding: 0;
    margin-top: 32px;
    margin-left: 5px;
}

.MuiTooltip-popper{
    width: 210px;
}

@media only screen and (max-width: 1180px) {
    .MuiTooltip-popper{
        width: 180px;
    }
}

@media only screen and (max-width: 1015px) {
    .MuiTooltip-popper{
        width: 130px;
    }
}

.flex-container-session{
    display: flex;
    flex-wrap: nowrap;
    background-color: transparent;
    align-content: center;
}


.flex-container-session > div {
    width: 80%;
    margin-bottom: 10px;
    margin-top: 15px;
    line-height: 35px;
}

.flex-container-session > div.flex-button{
    max-width: 25%;
    height: 10%;
    position: fixed;
    left: 83%;
    top: 27%;

}

.session-title{
    text-align: left;
    font-size: 30px;
    width: 100%;
    padding-left: 10px;
}

.last-modified{
    font-size: 15px;
    color: #8B8B8B;
    text-align: right;
    padding-right: 10px;
    max-width: 30%;
}

.session-box{
    margin-bottom: 100px;
    margin-left: 15%;
}

.underline-box{
    border-bottom: solid white 1px;
    margin-top: 5px;
}

.session-button-box{
    float: right;
}

.session-description{
    padding: 15px 60px 5px 60px;
    font-size: 18px;
    color: #d2d2d2;
    line-height: 25px;
    text-align: justify;
    height: 60%;
    margin-bottom: 10px;
    /*background-image: linear-gradient(to bottom, #343c3c, #303737,#292F2F);*/
    /*background-color: #2f3535;*/
}

.session-button{
    text-align: right;
    font-size: medium;
}

.session-link{
    text-decoration: none;
}

.session-detail-info{
    width: 70%;
    margin-bottom: 10px;
}

.session-detail-button{
    max-width: 15%;
    margin-bottom: 10px;
    margin-left: 20px;
}

.span-session{
    margin: 10px
}

.flex-container-session > div.info-container{
    width: 20%;
    margin-left: 20px;
}

.flex-container-session > div.info-container-tittle{
    width: 50%;
    margin-right: 5%;
}

.session-link-copy{
    margin-bottom: 40px;
}

.flex-container-session-2{
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    justify-content: center;
}

.character-box{
    text-align: center;
    padding: 5% 2% 2% 2%;
    width: 27%;

}

.addSessionButton{
    margin-bottom: 10px;
}

.full-character-box{
    width: 100%;

}

.character-name{
    font-size: 25px;
    margin-bottom: 5px;
    color: #FFD859;
}

.character-information{
    border: #8B8B8B solid 1px;
    border-radius: 20px;
}

.short-info{
    text-align: left;
    margin: 10px;
    width: 100%;
}

.inside-character-1{
    padding-right: 25px;
    text-align: left;
    width: 35%;
    margin-bottom: 3px;
}

.inside-character-2{
    width: 45%;
}

.inside-character-3{
    margin-top: 20px;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

.inside-character-4{
    text-align: center;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 15px;
}

.character-statistic{
    border: #8B8B8B solid 1px;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    width: 40px;
}

.flex-container-session-3{
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    justify-content: center;
    margin: 20px 5px;
}

.character-buttons{
    border: #8B8B8B solid 2px;
    border-radius: 20px;
}


.inside-buttons{
    margin-top: 6px;
    margin-bottom: 2px;
}

.inside-character-6{
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

.MuiInputBase-input.Mui-disabled {
    color: #bababa;
}

span > a {
    color: #bababa!important;
}

.inside-character-5{
    margin: 1px;
}

.add-to-session-tittle{
    font-size: 20px;
    color: #FFD859;
}

.addToSeesionButton{
    margin-bottom: 10px;
}

.pageNameSessionAdd{
    font-size: xx-large;
    color: #FFD859;

}

.session-select{
    margin: 20px 5px;
    text-align: center;
}

.session-label{
    text-align: left;
}

/*.MuiNativeSelect-select.MuiNativeSelect-select{*/
/*    width: 350px;*/
/*}*/

/*.MuiNativeSelect-select:not([multiple]) option, .MuiNativeSelect-select:not([multiple]) optgroup{*/
/*    background-color: #292F2F !important;*/
/*    cursor: pointer !important;*/
/*}*/

/*.MuiNativeSelect-select:not([multiple]):focus option:focus, .MuiNativeSelect-select:not([multiple]):focus optgroup:focus{*/
/*    cursor: pointer;*/
/*    color: #FFD859;*/
/*    background: #434e4e*/
/*}*/

.MuiSelect-select.MuiSelect-select#session{
    padding-right: 300px !important;
}

.MuiSelect-select:not([multiple]) option{
    color: white !important;
    background: #292F2F !important;
}

.MuiSelect-select:not([multiple]) option:focus{
    cursor: pointer !important;
    color: #FFD859 !important;
    background: #434e4e !important;
}

select.decorated option:hover {
    box-shadow: 0 0 10px 100px #1882A8 inset;
}

.center-block{
    text-align: center;
}

#margin-label{
    padding-left: 0;
    margin-left: 35px;
}