.block-grid{
    display: block;
    margin-top: 2%;
    min-width: fit-content;
}

.grid{
    display: flex;
    align-items: stretch;
    flex-basis: 100%;
    min-width: fit-content;
}
.grid-column{
    text-align: center!important;
    min-width: fit-content;
    display: grid;
    margin: 0 0.5% 0 1%;
}

.center{
    margin: auto;
    width: 40%;

}

.grid-element{
    display: block;
    min-width: fit-content;
    padding-bottom: 15%;
}
.grid-name-element{
    display: block;
    padding: 5%;
    text-align: left;
    margin: auto;
    justify-content: center;
}

.grid-element .MuiInputBase-input{
    text-align: center;
    
}