.block-grid{
    display: block;
    margin-top: 2%;
}

.grid{
    display: flex;
    align-items: stretch;
    flex-basis: 100%;
}
.grid-column{
    text-align: center!important;
    display: grid;
    margin: 2%;
}

.grid-element{
    display: block;
}
.grid-name-element{
    display: block;
    padding: 5%;
    text-align: left;
    margin: auto;
    justify-content: center;
}

.grid-element .MuiInputBase-input{
    text-align: center;
    
}