.container-login-page{
color: white;
padding-bottom: inherit;
}

.login-body{
    display: block;
    width: 40%;
    margin: auto;
    margin-top: 10%;

}

.margin-login-body{
  margin-right: 10%;
  margin-left: 10%;
}
.login-title{
color: white;
font-weight: bold;
font-size: xxx-large;
margin-bottom: 10px;
margin-top: 20px;
border-top: solid #FFD859 5px;
}
.block-component .MuiFormControl-root {
    width: -webkit-fill-available!important;
    width: -moz-available!important
}

.block-component .MuiInput-root {
    width: -webkit-fill-available!important;
    width: -moz-available!important
}

.block-component{
margin-top: 5%;
margin-bottom: 5%;
    display:flex;
    flex-direction:row;
}

.block-component a{
margin: auto !important;
position: center;
text-decoration: none!important;
}
.zaloguj-button a{
color: white!important;
}
.zaloguj-button{
    min-width: 160px !important;
    border: solid 1px white;
    color: white;
    padding: 16px 32px;
    font-size: large;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    margin: auto!important;
    padding: 5%;
    background-color: #292F2F;
    cursor: pointer;
    border-radius: 20px;

}

.zaloguj-button:disabled{
    color: grey !important;
    border: none !important;
}

.zaloguj-button:hover a{
    color: #FFD859 !important;
}
.zaloguj-button:hover{
    color: #FFD859;
    border-color: #FFD859 !important;
}

.zaloguj-button:focus{
    outline: none!important;
}


.button {
  background-color: #FFD859;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:focus{
    outline: none!important;
}


.button1 {
  background-color: hidden;
  color: black;
  border: 2px solid #FFD859;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button1:disabled {
  color: #e7e7e7;
  border: 2px solid #e7e7e7;
}

.button1:focus{
    outline: none;
}


.login-description{
color: white;
}


.registerTooltip button.MuiButtonBase-root.MuiIconButton-root{
    padding: 0;
    top: 50%;
    margin-left: 5px;
}

button.MuiButtonBase-root.MuiIconButton-root:focus{
    outline: none;
}

.ReactModal__Content{
 max-width: 85% !important;
}
