
menu-100 {
height: 100%;
display: block;
}

.menuBody{
    background-color: #222222;
    display: flex;
    padding-left: 3%;
}
.menu-title{
    font-size: x-large;
    padding-bottom: 5%;
    text-align: left;
}
.menuLink{
    display: block;
    backface-visibility: hidden;
    color: white;
    text-decoration: none;
    margin-left: 25%;
    padding: 1%;
    font-size: large;
    text-align: left;
}
.menu-column{
    display: block;
    padding: 2%;
    margin-left: 10%;
}
.menuLink:hover{
    color: #FFD859;
}