
  .popup-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 5%;
  }

 .popup-margin-container{
 display: block;
 margin: auto;
 width: 70%;
 }
.historyDetailBody{
    padding: 5%;
    padding-top: 2%;

}
.auto-margin{
margin: auto;
padding-top: 5px;
padding-bottom: 5px;
}

.small{
font-size: small !important;
}

.historyDetailHeader{
    font-size: large;
    padding-bottom: 2%;
    border-bottom: solid 1px white;
    margin: auto;
}
.customize-button{
  display: block;
  z-index: 100;
  }

.label{
  overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
  padding-left: 5%;
  padding-top: 1%;
  margin-left: 8%;
}
.container {
    display: block;
    position: relative;
    padding-left: 10px;
    cursor: pointer;
    font-size: 18px;
    margin: 1%;
    height: 7%;
    width: 20%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: solid #FFD859;
    border-radius: 25%;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #292F2F;
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #292F2F ;

  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    color: #292F2F;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #FFD859;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #FFD859;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }

  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }

  .container#visibility-box{
      margin: 0;
  }

  .label#visibility-box{
      padding-left: 5px;
      padding-top: 3px;
      margin-left: 35px;
  }

  .auto-margin#visibility-box{
      width: 28%;
      display: inline-block;
      margin: 2px 20px;
  }

  .auto-margin#visibility-box:hover{
      background: linear-gradient(0deg, #292F2F 0%, #2d3434 21%, #3a4343 100%);
      border-radius: 10px;
  }


  .parent-visibility-box{
      padding: 5px 50px;
      display:flex;
      flex-wrap: wrap;
      margin-bottom: 25px;
  }

  @media screen and (min-width: 1200px) {
      .parent-visibility-box{
          margin-left: 40px;
      }
  }

  @media screen and (min-width: 1500px) {
      .auto-margin#visibility-box{
          width: 21%;
      }
  }

  .modal-button-bottom{
      margin-bottom: 20px!important;
  }

  .modal-tittle{
      padding: 5px 50px;
  }

  .block-component#shortInput{
      padding-left: 25%;
      padding-right: 25%;
  }

  @media screen and (max-width: 1300px) {
      .block-component#shortInput{
          padding-left: 15%;
          padding-right: 15%;
      }
  }