.table{
    background-color: '#292F2F';
    min-width: 80%;
}


.headerStyle{
    background-color: '#292F2F';
    backface-visibility: 'hidden';
    color: '#FFD859';
    margin-top: '-5px';
}

.selectPops{
    font-size: 22px;

}

.rowDataStyles{
    color: 'white';
    margin: '0 !important';
    padding: '0 !important';
}