.table{
    background-color: '#292F2F';
    margin-left: 10%;
    margin-right: 10%;
}


.headerStyle{
    background-color: '#292F2F';
    backface-visibility: 'hidden';
    color: '#FFD859';
    margin-top: '-5px';
}

.selectPops{
    font-size: 22px;

}

.rowDataStyles{
    color: 'white';
    /* margin: '0 !important';
    padding: '0 !important'; */
}