.black-block{

border-bottom: solid 3px #FFD859;
width: 70%;
margin: auto;
}

.page-title{
display: block;
font-size: xxx-large;
color: #FFD859;
border-bottom: solid 3px #FFD859;
width: max-content;
}

.user-profile-main-div{
display: block;
min-width: 500px;
padding: 2%;
padding-left: 5%;
padding-right: 5%;
}

.user-profile-container{
display: flex;
}

.user-profile-block{
display: block;
padding: 5%;
width: 50%;
}

.user-profile-subtitle{
font-size: x-large;
}