.black-block{

border-bottom: solid 3px #FFD859;
width: 70%;
margin: auto;
}

.page-title{
display: block;
font-size: xxx-large;
color: #FFD859;
border-bottom: solid 3px #FFD859;
width: max-content;
}

.user-profile-main-div{
display: block;
min-width: 500px;
padding: 2%;
padding-left: 5%;
padding-right: 5%;
}

.user-profile-container{
display: flex;
justify-content: space-between;
}

.user-profile-container-s{
display: flex;
}
.mail-fb-discord-center{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    min-width: -moz-fit-content;
    margin-right: 10%;
    margin-left: 5%;
}

.mail-fb-dc-component{
 width: 100%;
 margin: auto;
}
.margin-auto{
margin: auto !important;
}

.user-profile-block{
width: -webkit-fill-available;
    margin: 3%;
}
.min-width-50{
min-width: 50% !important;
}

.user-profile-subtitle{
font-size: x-large;
color: white;
}
.text{
color: white;
font-size: 40px;
display: flex;
}
.text-2{
    display: block;
    margin-left: 10px;
}

.text a{
    font-size: large;
    margin-left: auto;
}
.one-element-brief{
display: block;
color: white;
border: 1px solid black;
border-bottom: 5px solid grey;
padding: 3%;
margin: 3%;
}

.one-element-brief#profileColumns{
    width: 100%;
    display: inline-block;
}

.short-history-title{
text-align: center;
font-weight: bold;
font-size: large;
padding-bottom: 10px;
}
