.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container-stats .MuiAutocomplete-root{
  width:  -webkit-fill-available!important;
  width: -moz-available!important;
  max-width: 100%;

}

.MuiAutocomplete-root{
  color: white!important;
}


.container-stats .column-1 .MuiTextField-root{
  width:  -webkit-fill-available!important;
  width: -moz-available!important;
}

/* .MuiInputBase-input{
overflow-wrap: break-word!important;
} */

.MuiFormControl-root{
  margin-top: 2%!important;
  border-bottom: solid 1px white!important;
  color: white!important;
}

.MuiFormControl-root:focus{
border: none!important;
}

.MuiTableCell-body{
  color: white!important;
}

.ReactModal__Content{
max-height: 70%!important;
max-width: 70%!important;
}

.MuiMenu-list{
  background-color:#292F2F!important;
  color:#FFD859!important;
}

.MuiAutocomplete-hasPopupIcon.Mui-disabled{
  border-bottom: none!important;
}

.MuiTable-root{
  background-color: #292F2F;
}
.MuiTablePagination-root{
  color: white!important;
}

.MuiTableSortLabel-root{
color: #FFD859!important;
}

.MuiTableSortLabel{
color: #FFD859!important;
}

.App-header {
  background-color:#292F2F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.filter .MuiInput-root{
  padding-top: 9px;
}
.MuiInput-inputMultiline{
  height: auto!important;
}

.MuiFormLabel-root{

  color: #FFD859!important;

}
.MuiInput-underline:after{
  border-bottom:  #FFD859!important;
}

.MuiInput-underline:hover{
  border-bottom:  #FFD859!important;
}

.MuiInputBase-root{
  color: #FFD859!important;

}

.MuiIconButton-colorSecondary{
  color: #FFD859!important;
}

.MuiSelect-icon{
  color:  rgb(206, 200, 180)!important;
}
.MuiSvgIcon-root{
  color:  #FFD859!important;
}
.MuiButton-label{
  color: #FFD859!important;
}

.MuiAutocomplete-popperDisablePortal{
  display: inline-block;
  align-self: flex-end;
  /*bottom: 0;*/
  /*HERE ZOSIA*/
  /*color: red!important;*/
  /*border-left: solid 3px red;*/
}

.material-icons{
  color:  #FFD859!important;
}

.App-link {
  color: #FFD859;
}
.MuiPaper-root{
  background-color: transparent!important;
}

.MuiAutocomplete-inputRoot[class*="MuiInput-root"] .MuiAutocomplete-input
{
  word-break: break-all;
  -ms-line-break: strict;
  line-break: normal;
  margin: auto;
}
.MuiTableCell-root{
background-color: #292F2F;
width: min-content!important;
text-align: center!important;
} 

.MuiTableCell-root.MuiTableCell-footer{
 width: initial!important;

}


.MuiInput-underline{
  border-bottom: #FFD859!important;
}

.MuiTableRow-root{
background-color: #292F2F;
}

.MuiTableRow-root:hover{
  color: #292F2F!important;
}
.MuiTableSortLabel-root{
  border-bottom: solid!important;
}
.MuiTableSortLabel-root:hover{
  color: #FFD859!important;
}
.MuiTableSortLabel-root.MuiTableSortLabel-active{
  color: #FFD859!important;
}

.MuiAutocomplete-noOptions{
  background-color: #292F2F;
  color:#FFD859!important; 

}

.MuiTableSortLabel-iconDirectionAsc{
  color: white;
  visibility: visible;
}

/* wybrane */
.MuiAutocomplete-listbox{
  background-color: rgb(54, 63, 63);
  color:#FFD859!important; 
}

/* wszystko */
.MuiAutocomplete-option{
  background-color: #292F2F;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

