.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.sc-AxiKw{
  background-color: #292F2F!important;
  border: #FFD859!important;
}

.MuiTableSortLabel-root{
color: #FFD859!important;
}

.MuiTableSortLabel{
color: #FFD859!important;
}

.App-header {
  background-color:#292F2F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MuiFormLabel-root{

  color: #FFD859!important;

}
.MuiInput-underline:after{
  border-bottom:  #FFD859!important;
}

.MuiInputBase-root{
  color: #FFD859!important;
}

.MuiSelect-icon{
  color:  rgb(206, 200, 180)!important;
}
.MuiSvgIcon-root{
  color:  #FFD859!important;
}
.MuiButton-label{
  color: #FFD859!important;
}

.material-icons{
  color:  #FFD859!important;
}

.App-link {
  color: #FFD859;
}

/* .MuiTableCell-root{
background-color: #292F2F;
} */
.MuiTableRow-root{
background-color: #292F2F;
}

.MuiTableRow-root:hover{
  background-color: #292F2F!important;
  color: white!important;
}
.MuiTableSortLabel-root{
  border-bottom: solid!important;
}
.MuiTableSortLabel-root:hover{
  color: #FFD859!important;
}
.MuiTableSortLabel-root.MuiTableSortLabel-active{
  color: #FFD859!important;
}

.MuiTableSortLabel-iconDirectionAsc{
  color: white;
  visibility: visible;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

